<%- include('../partials/header.ejs') %>
    <div class="content">
        <div class="center-container mb-110">
            <% if(categories.length){ %>
                <% categories.forEach(category => { %>
                <div class="listing">
                    <h3><%= category %></h3>
                    <ol>
                        <% if(commodities.length){ %>
                            <% commodities.forEach(commodity => { 
                                if (commodity.category === category) { %>
                                    <li><a href="/commodities/<%= commodity.id %>"><%= commodity.name %></a></li>
                                <% } });
                            } else { %>
                                <p>There are no commodities to display.</p>
                        <% } %>
                    </ol>
                </div>
                <% }); %>
            <% } else { %>
                <p>There are no categories to display.</p>
            <% } %>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>
